@charset "UTF-8";
/* CSS Document for index.html*/
body {
		  width: 100%;
		  margin: 0em;
		  display: inline-block;
		  font-family: "din-condensed", {TitleFont};
		  color: #444444;
		  background:#f9f9f9;
		  scroll-behavior: smooth;
		  overflow-x: hidden;
	}
	h1 {
		  width: -webkit-fit-content;
  		width: -moz-fit-content;
  		width: fit-content;
		  transition: width .2s;
	}
	a {
		  color:#444444 ;
		  text-decoration: none;
	}
	::selection {background: #ff9933; color:#FFFFFF;}
	header {
		  width: 90%;
		  padding: 5%;
		  padding-top: 7em;
	}
	header h1 {
		  margin-top: -.8em;
		  font-size: 90pt;
		  font-weight: 400;
		  text-transform: uppercase;
	   	color: #444444 ;
  		letter-spacing: .01em;
	  /*header animation START*/
	  	-webkit-animation-name: header;-webkit-animation-duration: 0.6s;animation-name: header;animation-duration: header 0.6s;}@-webkit-keyframes header {0% {color: {AccentColor}; font-size:89pt;} 25% { letter-spacing: .01em; text-shadow: 2px 0px 0px rgba(255, 0, 0, 0.8);letter-spacing: -0.2px; font-size:90.5pt;}52% {text-shadow: -2px 0px 0px rgba(0, 255, 0, 0.8); color: {AccentColor}; font-size:90pt;}69% {text-shadow: -2px 0px 0px rgba(0, 0, 255, 0.8); color: #171717; font-size:89pt;}100% {color: {AccentColor};font-size:90pt;}}@keyframes header {0% {color: {AccentColor};letter-spacing: 0em; font-size:90pt;} 25% {letter-spacing: .02em; text-shadow: 2px 0px 0px rgba(255, 0, 0, 0.8);letter-spacing: -0.2px; font-size:91pt;}52% {text-shadow: -2px 0px 0px rgba(0, 255, 0, 0.8); color: #434343; font-size:90pt;}69% {text-shadow: -2px 0px 0px rgba(0, 0, 255, 0.8); color: {AccentColor}; font-size:89pt;}100% {color: {AccentColor};font-size:90pt;}}
	  /*header animation END*/
	}
	h1 a:hover {color: #FFFFFF;}
	header h1 a:hover {
	    text-decoration: none;
      background: #ff9933;
      opacity:1;
      color: #FFFFFF;
      white-space: pre-wrap;
      padding-left:.1em;
      padding-right:.1em;
      box-decoration-break: clone;
	}
	#hero-box{
		  width: 85%;
		  height: 32em;
		  border: 4px solid #ff9933;
		  position: absolute;
		  top: 5em;
		  left: 7.5%;
		  z-index: -999;
		
	}
	.hero-image {
		  width:85%;
		  height: 32em;
	    position: absolute;
	    top: 4em;
		  left: 6%;
	    z-index:-99;
	    background: url(https://static.tumblr.com/i0wttqk/tmDp6uwmw/artboard_1_3x.png);
	    background-size:20%;
	    background-position: fixed;
	}
	.hero-text h1:first-child:hover ~ .hero-image { background-image: url(https://66.media.tumblr.com/1b897b81d1d11a5ea930a989d2a26ff6/tumblr_otkaaxMx821tm7xnjo1_r1_1280.png); background-size: cover;}
	.hero-text h1:nth-child(2):hover ~ .hero-image { background-image: url(https://66.media.tumblr.com/75fb4140d41cc9e77c24dd6e4f4dc245/tumblr_p3lju0tpj91tm7xnjo1_r1_1280.jpg);background-size:cover;}
	.hero-text h1:nth-child(3):hover ~ .hero-image {background-image: url(https://66.media.tumblr.com/2b6dea0e6181ef431b526f8c7c05af7f/tumblr_oqbr0hzLYP1tm7xnjo1_1280.jpg);background-size:cover;}
	.hero-text h1:nth-child(4):hover ~ .hero-image {background-image: url(https://66.media.tumblr.com/e772a728510f707e6d0bff61476004d0/tumblr_pm9fpj38bc1tm7xnjo1_1280.png);background-size:cover;}
	.hero-text h1:nth-child(5):hover ~ .hero-image {background-image: url(https://66.media.tumblr.com/bf1388f67f481b96d1f15d3edbda646b/tumblr_p1w0924NWX1tm7xnjo1_1280.gif);background-size:cover;}
	
	
	#cross {display:block;position: absolute;top:36em;left:5%;z-index:-2;}
	.cross {background: #ff9933;height:80px;position:relative;width:5px;}
	.cross:after {background:#ff9933;content:"";height:5px;left:-35px;position:absolute;top:35px;width:80px;}
	#corner {display:block;position:absolute;top:3.5em;right:5%;z-index:-2;}
	.corner {background: #ff9933;height: 39px;position: relative;width: 5px;}
	.corner:after {background:#ff9933;content:"";height:5px;left:-35px;position:absolute;top:0px;width:39px;}
	
	#blink {-webkit-animation: blink 1s infinite;animation: blink 1s infinite;display:inline-block;}
	#blink_two {-webkit-animation: blinktwo 1s infinite;animation: blinktwo 1s infinite;display:inline-block;}
	@keyframes blink {0% {opacity: 1;}1% {opacity: 0;}49% {opacity: 1;}50% {opacity: 0;}}
    	@keyframes blinktwo {0% {opacity: 1;}}1% {opacity: 0;}49% {opacity: 1;}50% {opacity: 0;};}}
	
	
  footer {
	  	position: relative;
	  	bottom: 0px;
      width:80%;
	  	padding: 1em 10% 0em 10%;
	  	display:inline-block;
	  	margin-top:5em 5% 0em 5%;
		  text-align: center;
	}
	footer h2 {
		  font-size: 2em;
		  text-align: center;
	}
	footer a:hover {
		  text-decoration: none;
      background: #ff9933;
      opacity:0.9;
      color: #FFFFFF;
      white-space: pre-wrap;
      padding-left:.1em;
      padding-right:.1em;
      box-decoration-break: clone;
	}
	/* - Project Gallery END - */
	section {
		  width: 100%;
	  	margin: .5em 0em .5em 0em;
	  	display: inline-block;
	}
	.title {
	  	width: 90%;
	  	height: 3.2em;
  		padding: .1em 5% .1em 5%;
  		margin: 0em;
  		background-color: #f9f9f9;
  		font-size: 1.8em;
  		position: sticky;
  		position: -webkit-sticky;
  		top:0px;
	}
	.dots {
	  	width: 80%;
	  	position: relative;
	  	z-index: -2;
	  	height: auto;
	  	padding: .3em 2% .3em 2%;
	  	margin: 0em 12% 0em 8%;
 	  	background: url(https://static.tumblr.com/i0wttqk/tmDp6uwmw/artboard_1_3x.png) repeat;
	    background-size:20%;
	}
	.out-line-box {
	  	width: 55%;
	  	padding: 2em 45% 1em 1em;
	  	outline: #ff9933 solid 4px;
	}
	.out-line-box-right {
	  	width: 55%;
	  	padding: 1em 1em 1em 45%;
	  	outline: #ff9933 solid 4px;
	}
	.out-line-box:hover, .out-line-box-right:hover {
	  	outline: #ff9933 solid 12px;
	}
	.out-line-box h1, .out-line-box-right h1 {
	  	font-size: 46pt;
	  	margin-top: .1em;
  		margin-bottom: .1em;
	}
	.out-line-box p , .out-line-box-right p{
  		position: relative;
	  	font-size: 16pt;
		  border-bottom: 4px #ff9933 solid;
	}
	.project-image-right, .project-image-left {
		  position: relative;
  		z-index: -1;
  		width: 50%;
  		height: 26em;
  		background-size: cover;
  		background-position: left;
	}
	.project-image-right {
  		transform: translate(0%, -90%);
  		float: right;
  		transition: width .2s;
	}
	.project-image-left {
  		transform: translate(3%, -90%);
  		float: left;
  		transition: width .2s;
	}
	a:hover .project-image-left, a:hover .project-image-right {
  		width: 100%;
	}
	a:hover h1 {
  		color: #FFFFFF;
  		text-decoration: none;
      background: #ff9933;
      white-space: pre-wrap;
      padding-left:.1em;
      padding-right:.1em;
      display:inline;
      box-decoration-break: clone;
	}
	a:hover p {
		  color:#FFFFFF;
	}
	a:hover .project-image-left p {
		  color:#FFFFFF;
	}
	/* - Project Gallery END - */
	
	/* | AT MEDIA | */
	
	
	/* | LARG (Ipad) | */
	@media (max-width: 1000px) {
		header h1 {
			font-size: 80pt;
		}
		#hero-box {
			height: 27em;
		}
		.hero-image {
			height: 27em;
		}
		#cross {
			top:31em
		}
	}
	/* | MIDEIM (Ipad Mini) | */
	@media (min-width: 450px)and (max-width: 900px) {
		header h1 {
			font-size: 50pt;
		}
		header {
			padding-top: 8em;
		}
		#hero-box {
			height: 17em;
			top:7em;
		}
		.hero-image {
			height: 17em;
			top:7em;
		}
		#cross {
			top:23em;
		}
		.out-line-box h1, .out-line-box-right h1 {
		font-size: 36pt;
	}
	}
	/* | SMALL (phone) | */
	@media (min-width: 388px)and (max-width: 490px) {
		header h1 {
			font-size: 28pt;
			margin-top: -.5em;
		}
		header {
			padding-top: 8em;
		}
		#hero-box {
			height: 16em;
			top:8em;
		}
		.hero-image {
			height: 16em;
			top:8em;
		}
		#cross {
			display: none;
		}
		#corner {
			display: none;
		}
		.out-line-box h1, .out-line-box-right h1 {
		font-size: 30pt;
	}
	}
	/* | EXTRA SMALL (small phone) | */
	@media (max-width: 388px) {
		header h1 {
			font-size: 28pt;
			margin-top: -.4em;
		}
		header {
			padding-top: 9em;
		}
		.out-line-box h1, .out-line-box-right h1 {
		font-size: 26pt;
	}
	}
