@charset "UTF-8";
/* all colour used in website */

.theme-light {
	--background: #F0F0F0;
	--accent-color: #707070;
	--hero-color: #ee8012;
	--font: #264653;
	--font-highlight: #FFFFFF;
	--text-shawdow: 0px 0px 0px rgba(150, 150, 150, 0);
	--cursor: #f5f5f5;
}
.theme-dark {
  	--background: #012427;
	--accent-color: lightgray;
	--hero-color: #ee8012;
	--font: #FFFFFF;
	--font-highlight: #FFFFFF;
	--text-shawdow: 1px 1px 9px rgba(150, 150, 150, 0.3);
	--cursor: #f5f5f5;
}
body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	background-color: var(--background);
	color: var(--font);
	font-family: eloquent-jf-pro,serif;
	font-weight: 400;
	font-style: normal, italic;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	counter-reset: counter;
}
/* \/ Custom Cursor Design \/ */
html {
	cursor: none;
}
.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: var(--cursor);
	pointer-events: none;
	mix-blend-mode: difference;
	z-index: 999;
	transition: transform 0.5s;
	transition-timing-function: ease-out;
}
.click {
	animation: cursorAnimation .5s forwards;
}
@keyframes cursorAnimation {
	0%{ transform: scale(1)}
	40%{ transform: scale(.4)}
	100%{ transform: scale(1)}
}
.scroll {
	animation: cursorAnimationScoll .5s forwards;
	opacity: 1;
}
@keyframes cursorAnimationScoll {
	0%{ opacity: 1;}
	40%{ opacity: .2;}
	100%{ opacity: 1;}
}
 /* /\ Custom Cursor Design /\ */
::selection {
	background: var(--hero-color);
	color: var(--font-highlight);
}
a {
	text-decoration: none;
	color: inherit;
	cursor: none
}
a:hover {
	cursor: none;
}

header {
	width: 90%;
	height: 100vh;
	padding: 0% 5%;
	display: block;
	z-index: -1;
}

.title {
	font-size: 6.5vw;
	line-height: 7.5vw;
	padding: 5px;
	position: relative;
	top: 35vh;
	z-index: 0;
	text-shadow: var(--text-shawdow);
	animation-name: StartAnimationText;
	animation-duration: 1s;
}
/* -\/- Text underline animation -\/- */
.underline {
	display: inline;
	padding: 5px;
	background-image: linear-gradient(120deg, var(--hero-color) 0%, var(--hero-color)100%);
	background-repeat: no-repeat;
	background-size: 80% 15%;
	background-position: 0 60%;
	transition: background-size 0.25s ease-in;
	-webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

.underline:hover {
	background-size: 110% 15%;
}
p .underline {
	background-position: 0 70%;
}
a .underline:hover{
	background-size: 110% 80%;
}
h2 .underline {
	background-position: 0 70%;
}
a .project-text:hover .underline {
	background-size: 110% 80%;
	color: var(--font-highlight);
}
.box ul .underline:hover {
	background-size: 110% 100%;
}

/* -/\- Text underline animation -/\- */

.header-image {
	width: 71%;
	height: 55vh;
	display: inline-block;
	position: absolute;
	top: 15vh;
	right: 2.5%;
	padding: 2%;
	z-index: -999;
	background-image: radial-gradient(circle, var(--font) 10%, transparent 10%), radial-gradient(circle, var(--font) 10%, transparent 10%);
	background-size: 12px 12px;
	background-position: 0 0, 0 0;
	transition: 0.5s ease-in;
	transform: background-image 0.25s ease-in;
	animation-name: StartAnimationImage;
	animation-duration: 1s;
}
.subject {
	display: inline-block;
	z-index: 999;
	font-family: din-2014,sans-serif;
	font-weight: 700;
	float: right;
	margin-top: 45vh;
	text-shadow: var(--text-shawdow);
}

/* -- Header iamge gallary | Index.html -- */

.graphic:first-child:hover ~ .header-image {
	background-image: url(https://66.media.tumblr.com/75fb4140d41cc9e77c24dd6e4f4dc245/tumblr_p3lju0tpj91tm7xnjo1_r1_1280.jpg);
	background-size: cover;
}
.typography:nth-child(2):hover ~ .header-image {
	background-image: url(https://78.media.tumblr.com/2b6dea0e6181ef431b526f8c7c05af7f/tumblr_oqbr0hzLYP1tm7xnjo1_1280.jpg);
	background-size:cover;
}
.web:nth-child(3):hover ~ .header-image {
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/44dac776607857.5c6ea9eec9bbc.jpg);
	background-size: cover;
}
.creative:nth-child(4):hover ~ .header-image {
	background-image: url(https://matthew-barnard.com/img/Comp%203.gif);
	background-size:cover;
}
.about:nth-child(5):hover ~ .header-image {
	background-image: url(https://matthew-barnard.com/img/printer-animation.gif);
	background-size:cover;
}
.contact:nth-child(5):hover ~ .header-image {
	background-image: url(https://matthew-barnard.com/img/dog-animation.gif);
	background-size:cover;
}

	/* | \/ SKILLS SECTION | About.html \/ | */
.box {
	position: absolute;
	right:5%;
	display: inline-block;
	width:55%;
	height: auto;
	background-image: radial-gradient(circle, var(--font) 10%, transparent 10%), radial-gradient(circle, var(--font) 10%, transparent 10%);
	background-size: 12px 12px;
	background-position: 0 0, 0 0;
	transform: background-image 0.25s ease-in;
	pointer-events: none
}
.skill .box {
	margin: 300px 0px;
}
.box ul {
	padding: 25px 45px 25px 175px;
	text-align: right;
	font-size: 20px;
	line-height:28px;
	list-style: none;
	display: inline;
}
.box ul li:nth-child(1) div{
	background-image: url(https://github.com/barnard652/index/blob/master/img/Big-Blue-Sea-pack-design.png?raw=true);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(2) div{
	background-image: url(https://66.media.tumblr.com/75fb4140d41cc9e77c24dd6e4f4dc245/tumblr_p3lju0tpj91tm7xnjo1_r1_1280.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(3) div{
	background-image: url(https://78.media.tumblr.com/2214d04c3645e037a93cfd44abb08080/tumblr_oq5xh6dprb1tm7xnjo2_r1_1280.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(4) div{
	background-image: url(https://78.media.tumblr.com/bf1388f67f481b96d1f15d3edbda646b/tumblr_p1w0924NWX1tm7xnjo1_1280.gif);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(5) div{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/00b9be76609607.5c6eb33994a3a.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(6) div{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/e1ceb378667723.5cafb0c292f8a.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(7) div{
	background-image: url(https://66.media.tumblr.com/e61a1bb95299537e8b403625a881ef36/tumblr_pdd3b2ko511tm7xnjo1_1280.jpg);background-position: center;
	background-size: cover;
}
.box ul li:nth-child(8) div{
	background-image: url(https://66.media.tumblr.com/2b6dea0e6181ef431b526f8c7c05af7f/tumblr_oqbr0hzLYP1tm7xnjo1_1280.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li:nth-child(9) div{
	background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/f58a1476609607.5c6eb33993e78.jpg);
	background-position: center;
	background-size: cover;
}
.box ul li div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0s;
	z-index: -999;
}
.box ul li:hover div {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0s;
	transition-delay: 0.2s;
}
/* -- Project -- */

section {
	width: 85%;
	padding: 0% 7.5%;
	margin: 50px 0px;
	display: inline-block;
}

.sticky-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0em;
}

.project-container {
	width: 100%;
	display: block;
	margin: -5em 0em;
	background-image: radial-gradient(circle, var(--accent-color) 10%, transparent 10%), radial-gradient(circle, var(--accent-color) 10%, transparent 10%);
	background-size: 15px 15px;
	background-position: 0 0, 0 0;
	cursor: radial-gradient(circle, var(--accent-color) 10%, transparent 10%), radial-gradient(circle, var(--accent-color) 10%, transparent 10%), auto;
}

.project-text {
	display: block;
	width: 48%;
}

.project-text h2 {
	font-size: 30pt;
	line-height: 1.3em;
	background-size: 0% 80%;
}
.project-text p {
	font-family: din-2014,sans-serif;
	font-weight: 700;
	text-shadow: var(--text-shawdow);
}

.text-right { /* when the image is on the left */
	text-align: right;
	padding: 1.5em 1.5% 1.5em 50.5%;
}
.text-left { /* when the image is on the right */
	text-align: left;
	padding: 1.5em 50.5% 1.5em 1%;
}

.project-image {
	position: relative;
	width: 60%;
	margin: 0em 2.5%;
	height: 26em;
	background-size: cover;
	background-position: center;
	transform: translate(0%, -80%);
	transition: width 0.25s ease-in;
	z-index: -1;
}
.img{
	display:inline-block;
	z-index:-1;
	position:absolute;
	width:65%;
	right:5%;
	height:28em;
	background-image: background-image: radial-gradient(circle, var(--font) 10%, transparent 10%), radial-gradient(circle, var(--font) 10%, transparent 10%);
	background-size: 12px 12px;
	background-position: 0 0, 0 0;
}
.image-left {
	float: left;
}
.image-right {
	float: right;
}
.coloums {
	webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}
a:hover .project-image {
	width: 95%;
	background-position: top center;
}
h2 {
	font: 20em;
}

h3 {
	font-size: 3vw;
}

h4 {
	margin-top: -4vw;
	font-family: din-2014,sans-serif;
	font-weight: 700;
	font-size: 1.5vw;
}

.sectionTitle {
	display: table-cell;
}

.sectionTitle:hover {
	background-size: 100% 15%;
}
p {
	font-family: din-2014,sans-serif;
	font-weight: 700;
	text-shadow: var(--text-shawdow);
}
.paragraph {
	display:inline-block;
	width:47%;
	float:left;
	z-index:2;
}

span {
	width: 90%;
	height: 4em;
	padding: 0% 5%;
	display: inline;
	position: absolute;
	top: 85vh;
	left: 0em;
}
.social-icons {
	margin: 20px;
	width: 2em;
	height: 2em;
}
.social-icons.underline {
	background-size: 50% 15%;
	background-position: 0 75%;
}
.social-icons.underline:hover {
	background-size: 100% 15%;
	background-position: 0 75%;
}



	/* | AT MEDIA | */
	
	/* | LARG (Ipad) | */
	@media (max-width: 1000px) {}

	/* | MIDEIM (Ipad Mini) | */
	@media (min-width: 450px)and (max-width: 900px) {
		.box {
			display: none;
		}
        .paragraph {
	        display:inline-block;
	        width:90%;
	        float:left;
	    }
	    .paragraph_right {
	        display:inline-block;
	        width:90%;
	        float:left;
	    }
	    .img{
	        position:relative;
	        width:100%;
	        margin-left:5%;
	        z-index:-999;
	    }
         }
	/* | SMALL (phone) | */
	@media (min-width: 388px)and (max-width: 490px) {
		
		.box {
			display: none;
		}
        .paragraph {
	        display:inline-block;
	        width:90%;
	        float:left;
	    }
	    .paragraph_right {
	        display:inline-block;
	        width:90%;
	        float:left;
	    }
	    .img{
	        position:relative;
	        width:100%;
	        margin-left:5%;
	        z-index:-999;
	    }
		.coloums {
	    		webkit-columns: 1;
        		-moz-columns: 1;
        		columns: 1;
        		text-align: center;
		}
	}
	/* | EXTRA SMALL (small phone) | */
	@media (max-width: 388px) {
		.box {
			display: none;
		}
		.coloums {
	    		webkit-columns: 1;
        		-moz-columns: 1;
        		columns: 1;
        		text-align: center;
		}
	}
