@charset "UTF-8";
	/*  - This is designed for all project pages -  */
body {
	width: 100%;
	padding: auto;
	margin: 0em;
	display: inline-block;
	font-family: "din-condensed";
	color:#444444;
	background:#f9f9f9;
}
	.background_block {
	width:80%;
	height: 10em;
	position:absolute;
	margin-top: 4em;
	left: 10%;
	z-index:-999;
	display:none;
}
.description{
	margin:3%;
	color:#444444;
	font-weight: 800;
	line-height: 1em;
	font-size: 75pt;
	text-decoration: none;
}
h2 a:hover {
	text-decoration: none;
        background: #ec6b2d;
        color: #fff;
        display: inline;
        white-space: pre-wrap;
        padding-left:.1em;
        padding-right:.1em;
        box-decoration-break: clone;
        -webkit-box-shadow: 2px 3px 3px -1px rgba(0,0,0,0.22);
        -moz-box-shadow: 2px 3px 3px -1px rgba(0,0,0,0.22);
        box-shadow: 2px 3px 3px -1px rgba(0,0,0,0.22);
}
a {
	color:#444444;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
}
		/*ANIMTION*/
#blink {
	 -webkit-animation: blink 1s infinite;
         animation: blink 1s infinite;
         display:inline-block;
}
#blink_two {
	-webkit-animation: blinktwo 1s infinite;
        animation: blinktwo 1s infinite;
	display:inline-block;
}
@keyframes blink {
    
    0% {color:{AccentColor};}
    1% {color:white;}
    49% {color:white;}
    50% {color:{AccentColor};}
}
@keyframes blinktwo {
    
    0% {color:{AccentColor};}
    1% {color:#ebe2ea;}
    49% {color:#ebe2ea;}
    50% {color:{AccentColor};}
}
::selection {
	 background:#ff9933;
	color:white;
}
section {
	width:90%;
	padding:5%;
	margin:0em;
	margin-top:2em;
	display:inline-block;
}
.paragraph {
	display:inline-block;
	font-size:14pt;
	width:40%;
	float:right;
	display:inline-block;
	position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 50px;
        z-index:-999;
}
.img {
	width:55%;
	display:inline-block;
	float:left;
}
.img-right{
	float:right;
	width:40%;
	margin-top:10px;
}
footer {
	position: relative;
	bottom: 0px;
        width:80%;
	padding: 1em 10% 0em 10%;
	display:inline-block;
	margin-top:5em 5% 0em 5%;
	text-align: center;
}
footer h2 {
	font-size: 2em;
	text-align: center;
}
footer a:hover {
	text-decoration: none;
        background: #ff9933;
        opacity:0.9;
        color: #FFFFFF;
        white-space: pre-wrap;
        padding-left:.1em;
        padding-right:.1em;
        box-decoration-break: clone;	
}
        /* Mobile */
@media (max-width: 420px) {
        #loading{ background-size:70%; }
        .background_block {
	    height: 33.5em;
            margin-top: 1.7em;
            width: 70%;
            left:15%;
        }
	#New_paper { background-size:150%; }
}
	/* Small Tablets */
@media (max-width: 800px) {
        #loading{ background-size:70%; }
        .background_block {
	    height: 18em;
            margin-top: 1.7em;
            width: 75%;
            left: 12.5%;
        }
	    .description{ font-size: 40pt;}
        .paragraph {
	        display:inline-block;
	        width:90%;
	        float:left;
	        position: relative; /* Safari */
        position: relative;
        top: 50px;
	    }
}
@media (max-width: 1450px){
	.description { font-size: 90pt; }
}
@media (max-width : 960px ){
	.description{font-size: 50pt;}
	.background_block {height: 17.5em; margin-top: 2.3em;}
	.img, .img-right{ width:100%; }
	.paragraph {
		display:inline-block;
		width:100%;
		text-align:justify;
		float:left;
		margin-top:2.5%;
		margin-bottom:2.5%;
		position: relative; /* Safari */
		position: relative;
		top: 50px;
	}
}
