@charset "UTF-8";
/* CSS Document */

#scroll a span {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 3px solid #373737;
  border-radius: 50px;
  box-sizing: border-box;
  z-index:-999;
  -webkit-animation: mouse 8s infinite;
  animation: mouse 8s infinite;
}
#scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #373737;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {-webkit-transform: translate(0, 0);opacity: 0;}
  40% {opacity: 1;}
  80% {-webkit-transform: translate(0, 20px);opacity: 0;}
  100% {opacity: 0;}
}
@keyframes sdb10 {
  0% {transform: translate(0, 0);opacity: 0;}
  40% {opacity: 1;}
  80% {transform: translate(0, 20px);opacity: 0;}
  100% {opacity: 0;}
}
@-webkit-keyframes mouse {
  0% {opacity:0;}
  10% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}
@keyframes mouse {
  0% {opacity:0;}
  10% {opacity:1;}
  90% {opacity:1;}
  100% {opacity:0;}
}



	<script>
	$(function() {
  $('a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
	</script>
