@charset "UTF-8";
/* CSS Document */

/* \/ project page hero | top \/ */
.project-page-parent {
	min-height: 880px;
	max-height: 120vh;
	margin-bottom: 120px;
}
.project-page-title {
	grid-area: 2 / 1 / 5 / 10;
	position: sticky;
	position: -webkit-sticky;
	top: 140px;
	padding: 0px;
	z-index: 1;
}
.project-image-hero {
	grid-area: 4 / 1 / 8 / 13; 
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: var(--background);
	transition: 0.5s ease-in;
  	transform: background-image 0.25s ease-in;
	animation-name: StartAnimationBottom;
	animation-duration: 1s;
	z-index: 2;
	min-height: 100%;
  	overflow: hidden;
}
.project-image-hero img {
	width: 100%;
	height: 100%;
	object-position: top;
  	position: relative;
  	transform: translate3d(0, 0, 0);
}

  /* \/ Porject Pages image gallary \/ */
.project-gallery-parent{
	min-height: fit-content;
	max-height: max-content;
	margin-top: 120px;
	grid-row-gap:0px;
	grid-column-gap: 40px;
}
  /* \/ About The Project and img on  \/ */
.about-project-text {
	position: sticky;
	position: -webkit-sticky;
	top:40vh;
}
.single {
	height: auto;
	width: 100%;
	float: center;
	grid-area: 1 / 1 / 7 / 13;
}
.half-left {
	width: 100%;
	float: left;
	grid-area: 1 / 1 / 7 / 7;
}
.half-right {
	width: 100%;
	float: right;
	grid-area: 1 / 7 / 7 / 13;
}
.two-thirds-left {
	width: 100%;
	float: left;
	grid-area: 1 / 1 / 7 / 6;
}
.two-thirds-right {
	width: 100%;
	float: right;
	grid-area: 1 / 6 / 7 / 13;
}
.thirds-left {
	grid-area: 1 / 1 / 7 / 5;
}
.thirds-middle {
	grid-area: 1 / 5 / 7 / 9;
}
.thirds-right {
	grid-area: 1 / 9 / 7 / 13;
}
.project-gallery-parent img {
	margin-top: 40px;
}

.footer-project {
	font-family: eloquent-jf-pro, serif;
	margin: 0px;
	width: 95%;
	padding: 0% 2.5%;
	overflow-x: scroll;
	white-space: nowrap;
	float: center;
	scroll-snap-align: center ; 
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

}
.footer-project .footer-img {
	width: calc(100% / 3 + 140px);
	display: inline-grid;
	margin: 0px 18px;
	scroll-snap-align: center;
}
.footer-img img {
	width: 100%;
	height: 340px;
	object-fit: cover;
}
.footer-project:hover > .footer-img { opacity: 50%;}
.footer-project:hover > .footer-img:hover { opacity: 100%;}
  
@media (min-width: 120px)and (max-width: 820px) {
	.project-page-parent {
		height: 100vh;
		margin-bottom: 0px;
		position: inherit;
		float: inherit;
		display: inline;
	}
	.project-page-title {
		top: 120px;
		grid-area: 1 / 1 / 5 / 5;
	}
	.project-page-title h1 {
		font-size: max(56px);
		line-height: max(80px);
	}
	.project-image-hero {
		grid-area: 5 / 1 / 9 / 5; 
		margin-left: -5%;
	  	margin-right: -5%;
	  	height: auto;
	}
	.project-gallery-parent  {
		position: inherit;
		margin-bottom: 0px;
		float: inherit;
		display: inherit;
	}
	img {
		height: inherit;
	}
	/* \/ footer project \/ */
	.footer-img img {
		height: 240px;
	}
	.footer-project .project-title {display: block; white-space: initial;}
	/* \/ footer project \/ */
	@keyframes parallax {
		to {
		  transform: none;
		}
	  }
}
