@charset "UTF-8";
/* CSS Document */
.theme-light {
	--background: #F0F0F0;
	--accent-color: #707070;
	--hero-color: #ee8012;
	--font: #264653;
	--font-highlight: #FFFFFF;
	--text-shawdow: 0px 0px 0px rgba(150, 150, 150, 0);
	--cursor: #f5f5f5;
	--browser-color: #274653;
}
.theme-dark {
  	--background: #012427;
	--accent-color: lightgray;
	--hero-color: #ee8012;
	--font: #FFFFFF;
	--font-highlight: #FFFFFF;
	--text-shawdow: 1px 1px 9px rgba(150, 150, 150, 0.3);
	--cursor: #f5f5f5;
	--browser-color: #274653;
}
::selection {
	background-color: var(--hero-color);
	color: var(--font);
}
html {
	scroll-behavior: smooth;
}
body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	background-color: var(--background);
	color: var(--font);
	font-family: din-2014, sans-serif;
	font-weight: 600;
	font-style: normal;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	counter-reset: counter;
	padding-bottom: env(safe-area-inset-botttom);
	cursor: none;
}
.parent {
	width: 90%;
	min-height: 100vh;
	max-height: fit-content;
	margin-left: 5%; 
	margin-right: 5%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 64px;
	grid-row-gap: 80px;
}
.hero {
	height: 100vh;
}
/* \/ Header section \/ */
header {
	width: 95%;
	height: 64px;
	padding: 2.5%;
	margin: 0px;
	position: fixed;
	top: 0px;
	z-index: 999;
  }
#logo {
	width: 64px;
	height: 100%;
	background-color: pink;
	display: block;
	float: left;
	align-items: center;
  }
  /* \/ NAV MENU \/ */
.header-nav {
	float: right;
	align-items: right;
	text-align: right;
	padding: 16px 0px;
}
.header-nav .dropdown-content {
	position: relative;
	top: -10px;
	right:0px;
}
.burger-container {
	display: inline-block;
	cursor: pointer;
	height: 100%;
}
.burger-bar1, .burger-bar2, .burger-bar3 {
	width: 32px;
	height: 2px;
	background-color: var(--font);
	margin: 8px 0;
	transition: 0.4s;
}
.NavBurgerAnimation .burger-bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}
.NavBurgerAnimation .burger-bar2 {opacity: 0;}
.NavBurgerAnimation .burger-bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}
nav {
	width: 75%;
	padding: 0px;
	margin: 0px;
}
ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
li {
	display: inline-block;
	padding-right: 16px;
	line-height: -10;
}
a {
	color: var(--font);
	text-decoration: none;
}
a:active {
	color: var(--font);
	font-style: normal;
}
/* \/ drop down menu \/ */
.dropdown-content {
	display: none;
	position: absolute;
	margin-top: -32px;
	min-width: 160px;
	z-index: 1;
}
.dropdown-content:hover > li { opacity: 50%;}
.dropdown-content:hover > li:hover { opacity: 100%;}
.dropdown:hover .dropdown-content {display: inline-block;}
  /* \/ Hero image and image roll over \/*/
.hero-image {
	grid-area: 3 / 4 / 8 / 13;
	background-image: radial-gradient(circle, var(--font) 10%, transparent 10%), radial-gradient(circle, var(--font) 10%, transparent 10%);
	background-size: 12px 12px;
	background-position: 0 0, 0 0;
	transition: 0.5s ease-in;
	transform: background-image 0.25s ease-in;
	animation-name: StartAnimationRight;
	animation-duration: 1s;
	z-index: 1;
}
#BG {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
.hero-text { 
	grid-area: 2 / 1 / 5 / 12; 
	z-index: 2;
	padding: 0px;
	transition: 0.5s ease-in;
	transform: background-image 0.25s ease-in;
	animation-name: StartAnimationLeft;
	animation-duration: 1s;
}
.hero-text .small-text {
	font-family: eloquent-jf-pro, serif;
	line-height: 4.5vw;
	color: var(--font);
	font-size: 2.5vw;
}
h1 {
	font-family: eloquent-jf-pro, serif;
	line-height: 5.6vw;
	color: var(--font);
	font-size: 4.6vw;
	margin: 0px;
	padding: 0px;
}
.about-image {
	grid-area: 2 / 1 / 6 / 6;
	animation: parallax 1s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
.about-text {
	grid-area: 3 / 5 / 5 / 13;
	display: inline-grid;
	max-width: 1000px;
	animation: parallax .5s linear infinite;
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
.dot-box {
	grid-area: 5 / 4 / 7 / 8;
	background-image: radial-gradient(circle, var(--font) 10%, transparent 10%), radial-gradient(circle, var(--font) 10%, transparent 10%);
	background-size: 12px 12px;
	background-position: 0 0, 0 0;
	height: 24vh;
}
/* \/ social icons \/ */
.social-container {
	grid-area: 6 / 1 / 7 / 13;
	display: inline;
	float: right;
	z-index: 999;
}
.social-icons {
	float: right;
	margin: 20px;
	width: 2em;
	height: 2em;
}
.social-icons.underline {
	background-size: 50% 15%;
	background-position: 0 75%;
}
.social-icons.underline:hover {
	background-size: 100% 15%;
}
.hero-text h1 .underline {
	background-size: 0% 8%;
	background-position: 0 62%;
}
.hero-text h1 .underline:hover {
	background-size: 100% 8%;
}
/* \/ Project Gallary \/*/
.parent img {
	width: 100%;
	object-fit: cover;
	transition: transform .2s;
}
.project-left-small {
	grid-area: 2 / 1 / 5 / 6;
	height: fit-content;
	animation: parallax .4s linear infinite;

}
.project-right-large {
	grid-area: 2 / 6 / 6 / 13;
	height: fit-content;
	animation: parallax 1s linear infinite;

}
.project-left-large {
	grid-area: 2 / 1 / 6 / 8;
	height: fit-content;
	animation: parallax .5s linear infinite;

}
.project-right-small {
	grid-area: 2 / 8 / 5 / 13;
	height: fit-content;
	animation: parallax .7s linear infinite;
}
.project-left-small, .project-right-large, .project-left-large, .project-right-small {
	animation-play-state: paused;
	animation-delay: calc(var(--scroll) * -1s);
	animation-iteration-count: 1;
	animation-fill-mode: both;
}
img {
    object-fit: cover;
}
.sticky-header {
	width: 90%;
	padding: 2.5%;
	position: sticky;
	top:0px;
	z-index:999;

}
/* \/  Text appear under gallary image on hover  \/ */
.text-on-hover { opacity: 0; font-size: 18px;}
.project-left-large:hover .text-on-hover {opacity: 1; transition: opacity 0.5s;}
.project-left-small:hover .text-on-hover {opacity: 1; transition: opacity 0.5s;}
.project-right-large:hover .text-on-hover {opacity: 1;	transition: opacity 0.5s;}
.project-right-small:hover .text-on-hover {opacity: 1;	transition: opacity 0.5s;}
.project-left-large .project-left-small .project-right-large .project-right-small, .project-title {display: none;}
/* \/  Dot BG in CSS  \/ */
.dot-container{
  	width: 100%;
  	height: 100%;
  	display: grid;
  	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));    grid-auto-rows: 40px;
  	overflow: hidden;
}
.dot-container div {
  	background-color: var(--font);
  	min-width:4px;
  	min-height:4px;
  	max-width:8px;
  	max-height:8px;
  	display: block;
  	border-radius: 50%;
}
/* -\/- Text underline animation -\/- */
.underline {
	display: inline;
	padding: 5px;
	background-image: linear-gradient(120deg, var(--hero-color) 0%, var(--hero-color)100%);
	background-repeat: no-repeat;
	background-size: 80% 15%;
	background-position: 0 60%;
	transition: background-size 0.25s ease-in;
	-webkit-box-decoration-break: clone;
	-ms-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}
.underline:hover {
	background-size: 110% 15%;
}
p .underline {
	background-position: 0 70%;
}
a .underline:hover{
	background-size: 110% 80%;
}
h2 .underline {
	background-position: 0 70%;
}
h3 .underline {
	background-position: 0 70%;
	padding-top: -10px;
}
a .project-text:hover .underline {
	background-size: 110% 80%;
	color: var(--font-highlight);
}
/* -/\- Text underline animation -/\- */

/* mouses styling */
div.cursor div {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background-color: var(--font);
	border-radius: 50%;
	z-index: 10000;
	pointer-events: none;
	transform: translate(-50%, -50%);
	mix-blend-mode: luminosity;
}
div.cursor div span {
	position: absolute;
	top: -16px;
	left: 40px;
	width: 300px;
	line-height: 24px;
	color: var(--font);
	opacity: 0;
	transition: opacity 0.5s;
	mix-blend-mode: luminosity;
}
div.cursor div span.visible {
	opacity: 1;
}
footer {
	width: 90%;
	height: auto;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 120px;
	display: inline-block;
}
footer p {
	font-size: 12px;
	margin-top: 40px;
}
.footer-project {
	font-family: eloquent-jf-pro, serif;
	margin: 0px;
	width: 95%;
	padding: 0% 2.5%;
	overflow-x: scroll;
	white-space: nowrap;
	float: center;
	scroll-snap-align: center ; 
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

}
.footer-project .footer-img {
	width: calc(100% / 3 + 140px);
	display: inline-grid;
	margin: 0px 18px;
	scroll-snap-align: center;
}
.footer-img img {
	width: 100%;
	height: 340px;
	object-fit: cover;
}
.footer-project:hover > .footer-img { opacity: 50%;}
.footer-project:hover > .footer-img:hover { opacity: 100%;}

::-webkit-scrollbar {
	width: 0px;
}
	/* | SMALL (phone) | */
	@media (min-width: 120px)and (max-width: 620px) {
		.parent {
			display: flow-root;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(8, 1fr);
			grid-column-gap: 0;
			grid-row-gap: 0;
			height: auto;
			max-height: none;
			min-height: fit-content;
		}
		.mobile-spacing{display: inline-block; width:100%; height: 250px;}
		.hero {min-height: 100vh;}
		.hero-text .small-text {line-height: 6vw; font-size: 4vw; margin-top: 80px; margin-bottom: 24px;}
		.hero-text {grid-area: 3 / 1 / 5 / 5; }
		.hero-text h1 {line-height: 12vh; font-size: 10vh;}
		.about-image {animation: none}
		.about-text {animation: none}

		.parnet, img {height: 340px;}
		.box-image { grid-area: none;  }
		.body-text { grid-area: none;  }
		.dot-box { display: none; }
		.project-left-large { grid-area: none; padding-bottom: 80px; animation: none; }
		.project-right-small { grid-area: none;  padding-bottom: 80px; animation: none; }
		.project-left-small { grid-area: none;  padding-bottom: 80px; animation: none; }
		.project-right-large { grid-area: none; padding-bottom: 80px; animation: none; }

		/* \/ project title appear under image only on moblie \/ */
		.project-left-large .project-left-small .project-right-large .project-right-small, .project-title {display: block;}
		.project-left-large .project-left-small .project-right-large .project-right-small, .text-on-hover {display: block; opacity: 1;}
		div.cursors div span.visible {opacity: 0;}
		.text-on-hover { opacity: 1; margin-top: -20px;}

		/* \/ footer project \/ */
		.footer-img img {
			height: 240px;
		}
		.footer-project .project-title {display: block; white-space: initial;}
		/* \/ footer project \/ */
		@keyframes parallax {
			to {
			  transform: none;
			}
		  }
		
}
	/* | EXTRA SMALL (small phone) | */
	@media (max-width: 388px) {

}
