@charset "UTF-8";
/* CSS Document */

/* \/ project page hero | top \/ */
.project-page-hero {
	width:90%;
	min-height: 650px;
	margin:5%;
}
.project-page-title {
	width:65%;
	height:40vh;
	min-height:fit-content;
	padding-top: 64px;
	padding-left: 2px;
	position:sticky;
	top: 64px;
	z-index:-1;
	-webkit-animation: tracking-in-expand 0.8s ease-out ;
	animation: tracking-in-expand 0.8s ease-out ;
	overflow: hidden;
}
.project-image-hero {
	background: var(--background);
	height:60vh;
	min-height:400px;
	width:100%;
	overflow:hidden;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-animation: slide-top 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.5s alternate forwards;
	animation: slide-top 0.8s cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.5s alternate forwards;
}
.project-page-hero .dot-box {
	display: none;
}
  /* \/ Porject Pages image gallary \/ */
.project-gallery-parent{
	min-height: fit-content;
	max-height: max-content;
	margin-top: 120px;
	grid-row-gap:0px;
	grid-column-gap: 40px;
}
  /* \/ About The Project and img on  \/ */
.about-project-text {
	position: sticky;
	position: -webkit-sticky;
	top:40vh;
}
.single {
	height: auto;
	width: 100%;
	float: center;
	grid-area: 1 / 1 / 7 / 13;
}
.half-left {
	width: 100%;
	float: left;
	grid-area: 1 / 1 / 7 / 7;
}
.half-right {
	width: 100%;
	float: right;
	grid-area: 1 / 7 / 7 / 13;
}
.two-thirds-left {
	width: 100%;
	float: left;
	grid-area: 1 / 1 / 7 / 6;
}
.two-thirds-right {
	width: 100%;
	float: right;
	grid-area: 1 / 6 / 7 / 13;
}
.thirds-left {
	grid-area: 1 / 1 / 7 / 5;
}
.thirds-middle {
	grid-area: 1 / 5 / 7 / 9;
}
.thirds-right {
	grid-area: 1 / 9 / 7 / 13;
}
.project-gallery-parent img {
	margin-top: 40px;
}

.footer-project {
	font-family: eloquent-jf-pro, serif;
	margin: 0px;
	width: 95%;
	padding: 0% 2.5%;
	overflow-x: scroll;
	white-space: nowrap;
	float: center;
	scroll-snap-align: center ; 
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;

}
.footer-project .footer-img {
	width: calc(100% / 3 + 140px);
	display: inline-grid;
	margin: 0px 18px;
	scroll-snap-align: center;
}
.footer-img img {
	width: 100%;
	height: 340px;
	object-fit: cover;
}
.footer-project:hover > .footer-img { opacity: 50%;}
.footer-project:hover > .footer-img:hover { opacity: 100%;}


/* | MEDUIM (Phone/Tablet) | */
@media (max-width: 960px) {
    .project-page-title h1 {
		font-size: max(46px);
		line-height: max(50px);
    }
    .project-page-title {
      width:100%;
    }
}

  
@media (min-width: 120px)and (max-width: 768px) {
	.project-image-hero {
    	width:110%;
		height:70vh;
		margin-left: -5%;
	  	margin-right: -5%;
    	margin-top:20vh;
	}
	.project-gallery-parent  {
		position: inherit;
		margin-bottom: 0px;
		float: inherit;
		display: inherit;
	}
	img {
		height: inherit;
	}
	/* \/ footer project \/ */
	.footer-img img {
		height: 240px;
	}
	.footer-project .project-title {display: block; white-space: initial;}
	/* \/ footer project \/ */
	@keyframes parallax {
		to {
		  transform: none;
		}
	  }
}
