@charset "UTF-8";
div.book {
		transform: rotateX(20deg) rotateY(-40deg) rotateZ(0deg);
		animation: bookspin 5s;
	}
	@keyframes  bookspin {
		0% {transform: rotateX(20deg) rotateY(-40deg) rotateZ(0deg);}
  	25% { transform: rotateX(320deg) rotateY(30deg) rotateZ(0deg);}
		50% { transform: rotateX(90deg) rotateY(0deg) rotateZ(-90deg);}
		75% { tranform: rotateX(-15deg) rotateY(146deg) rotateZ(0deg);}
		100% {transform: rotateX(20deg) rotateY(-40deg) rotateZ(0deg);}
	}
