@charset "UTF-8";
	/*  - This is designed for all pages for the naviation slide out -  */

nav {
	    width:3.5em;
	    height:3.2em;
	    position:fixed;
      top:1.7em;
      right:0em;
	    display: inline-block;
	    float: right;
	    color: #444444;
	    z-index:999;
}	
#nav_burger{
      text-align:left;
      color:#444444;
      z-index:2;
      position:fixed;
      top:2em;
      right:1em; 
}
#nav_burger:hover, nav {
      color: #ff9933;
}
.sidenav {
    	height: 100%;
    	width: 0em;
	    margin:0em;
    	position: fixed;
    	z-index: 999;
    	top: 0;
    	left: 0;
    	text-align:left;
	    background-color: #FFFFFF;
    	overflow-x: hidden;
    	transition: 0.5s;
    	padding-top: 60px;
    	display:block;
}
.sidenav a {
	margin: 0em;
    	padding: 8px 8px 8px 32px;
    	text-decoration: none;
    	font-size: 30pt;
    	color: #444444;
    	display: block;
    	transition: 0.3s
}
.sidenav a:hover {
      color: #ff9933;
      -webkit-transition: width .6s;
      transition: width .6s;
      transition: 0.3s
  }
  .sidenav .closebtn {
    	float:right;
    	top: -0.8em;
    	right: .1em;
    	font-size: 30pt;
	    position: relative;
      text-align:left;
  }
  a .closebtn:hover { background-color:#ff9933; }
  .dropdown {}
  .dropdown-content {
	    display: none;
	    width:96%;
	    font-size:15pt;
	    line-height:1em;
      padding: 2%;
      padding-top:.5em;
      padding-bottom:.5em;
      z-index: 1;
    }
    .dropdown-content a {
        font-size:1.2em;
        margin:-0.5em;
        color:#444444;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a: {
        color:#444444;
    }
	#socal_links {
	      float:right;
	      display:inline;
	      position:absolute;
	      bottom:6em;
	      right:1em;
	}
	a .fa {
    	  font-size:22pt;
        margin:.7em;
        display:inline-block;
        color:#444444;
  }
  a:hover .fa {
    	  color: #ff9933;
  }
